<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link href="/stylesheets/productDetail.css" rel="stylesheet">
    <!-- <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet"> -->
    <link href="/stylesheets/cardsUp.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/60737454c2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "cardProductDetail">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "/images/products/<%= miProducto.imagen%>" alt = "shoe image">
              <img src = "https://i.postimg.cc/0QVsrWQB/ta-3.webp" alt = "shoe image">
              <img src = "https://i.postimg.cc/VvTPWJX9/ta-4.webp" alt = "shoe image">
              <img src = "https://i.postimg.cc/mDL4Lfb9/ta-2.webp" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "https://i.postimg.cc/QNnD3yvB/ta-1.webp" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "https://i.postimg.cc/0QVsrWQB/ta-3.webp" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "https://i.postimg.cc/VvTPWJX9/ta-4.webp" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "https://i.postimg.cc/mDL4Lfb9/ta-2.webp" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
                  <!-- Estrellas -->
        <div class = "product-content">
          <h2 class = "product-title"><%= miProducto.nombre%></h2>
          <a href = "#" class = "product-link">visita tienda <%= miProducto.marca%></a>
          <div class = "product-rating">
            <% if (miProducto.ranking == 1) { %>
            <i class = "fas fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span><%= miProducto.ranking%></span>
            <% } else if (miProducto.ranking == 2) { %> 
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span><%= miProducto.ranking%></span>
            <% } else if (miProducto.ranking == 3) { %> 
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span><%= miProducto.ranking%></span>
            <% } else if (miProducto.ranking == 4) { %>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span><%= miProducto.ranking%></span>
            <% } else { %> 
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <span><%= miProducto.ranking%></span>
            <% } %> 
          </div>
                  
          <div class = "product-price">
            <p class = "last-price">Precio anterior: <span>$<%= miProducto.precioAnt%></span></p>
            <p class = "new-price">Precio en Oferta: <span>$<%= miProducto.precio%> (<%= miProducto.descuento%>%)</span></p>
          </div>

          <div class = "product-detail">
            <h2>Información </h2>
            <p><%= miProducto.descripcion%></p>
            <p>Conocé las <%= miProducto.nombre%>, confiable, cómoda y siempre lista para correr.</p>
              <!-- apartado de check -->
            <ul>
              <li><i class="fa-sharp fa-solid fa-circle-check"></i>Color: <span><%= miProducto.color%></span></li>
              <li><i class="fa-sharp fa-solid fa-circle-check"></i>Disponible: <span>Si</span></li>
              <li><i class="fa-sharp fa-solid fa-circle-check"></i>Categoria: <span>Tenis Deportivos</span></li>
              <li><i class="fa-sharp fa-solid fa-circle-check"></i>Genero: <span><%= miProducto.categoria%></span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn">
              Agregar al Carrito <i class = "fas fa-shopping-cart"></i>
            </button>
            
          </div>
                 <!-- apartado de compartir -->
          <div class = "social-links">
            <p>compartir: </p>
            <a href = "#">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-instagram"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-whatsapp"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!------------------APARTADO DE INTERESES---------------------------------->
    <div class="container">
      <!-- CARDS -->
      <div class="card">
          <img src="https://i.postimg.cc/RZCtTPTN/jordan1.png" alt="" class="card__img">
          <!-- <div class="card__content">  -->
          <div class="card__data">
              <h1 class="card__title">Nike Air Jordan</h1>
              <span class="card__preci">$120.000</span>
              <p class="card__description">Nike Air Jordan Especiales para jugar baloncesto.</p>
              <a href="#" class="card__button">Mas Información!</a>
          </div>
      </div>
      <!-- CARDS -->
      <div class="card">
          <img src="https://i.postimg.cc/nzXg9YWW/jordan2.png" alt="" class="card__img">
          <!-- <div class="card__content">  -->
          <div class="card__data">
              <h1 class="card__title">Nike Air Jordan</h1>
              <span class="card__preci">$120.000</span>
              <p class="card__description">Nike Air Jordan Especiales para jugar baloncesto.</p>
              <a href="#" class="card__button">Mas Información!</a>
          </div>
      </div>
      <!-- CARDS -->
      <div class="card">
          <img src="https://i.postimg.cc/RZCtTPTN/jordan1.png" alt="" class="card__img">
          <!-- <div class="card__content">  -->
          <div class="card__data">
              <h1 class="card__title">Nike Air Jordan</h1>
              <span class="card__preci">$120.000</span>
              <p class="card__description">Nike Air Jordan Especiales para jugar baloncesto.</p>
              <a href="#" class="card__button">Mas Información!</a>
          </div>
      </div>
      <!-- CARDS -->
      <div class="card">
          <img src="https://i.postimg.cc/nzXg9YWW/jordan2.png" alt="" class="card__img">
          <!-- <div class="card__content">  -->
          <div class="card__data">
              <h1 class="card__title">Nike Air Jordan</h1>
              <span class="card__preci">$120.000</span>
              <p class="card__description">Nike Air Jordan Especiales para jugar baloncesto.</p>
              <a href="#" class="card__button">Mas Información!</a>
          </div>
      </div>
  </div>
    
    <script src="/javascripts/productDetail.js"></script>

  </body>
</html>